
{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block header %}      
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='floating-labels.css')}}"/>

{% endblock %}

{% block body %}
 
<form class="form-signin" action="{{ url_for('login') }}" method="post">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <!-- <p class="h3 mb-3 font-weight-normal">Welcome to my project1 App</p> -->
         Hope this will meet your expetations. This is a book review website with  <a href="https://docs.cs50.net/web/2019/x/projects/1/project1.html">these specifications</a></p>
    </div>
  
    <div class="form-label-group">
        <input type="text" name="username" id="inputUserName" class="form-control" placeholder="Username" required autofocus>
        <label for="inputUserName">User Name</label>
    </div>
  
    <div class="form-label-group">
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember-me" value="remember-me"> Remember me
        </label>
    </div>  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center" > <a href="{{ url_for('register')}}">Not yet registered ?</a></p>
  </form>

{% endblock %}